In [4]:
import nltk
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error as MSE
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore') # We can suppress the warnings

In [5]:
df = pd.read_csv("Russia_War_TWEETS.csv")
df = df.set_index('Unnamed: 0')

In [6]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ambrosedesmond/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
# using regular expressions to remove all special charecters.
df["tweets"] = df['tweets'].str.replace('[^\w\s]','')

In [8]:
# using regular expressions to remove all tabs and carrige returns that were imported in original csv
df["tweets"] = df['tweets'].str.replace(r'\r\n','')

In [9]:
# Basically stop words like this, an, a, the, etc that do not affect the meaning of the tweet will be removed
from nltk.corpus import stopwords
stop = stopwords.words("english")

In [12]:
df.head()

                                                                tweets
Unnamed: 0
2331008720           Gerashchenko_en Well if people want this war t...
1617608573227352069  kariona_grabi DevSlashNull_ Omg how uninformed...
20562637             Russias economy isnt facing disaster anytime s...
61085452             oulosP We dont involve in Ukraines war with Ru...
1048878207481655296  _StoleYourTV_ the fact you made this shows how...

In [16]:
df['tweets'] = df['tweets'].astype(str)

In [17]:
# lambda counts the  number of stop words in each tweet
df["stopwords"]  = df["tweets"].apply(lambda x : len([x for x in x.split() if x in stop]))

In [18]:
# lambda counts the number of upper case words in tweet , indicate shouting , anger ect
df["upper"]  = df["tweets"].apply(lambda x : len([x for x in x.split() if x.isupper()]))

In [ ]:
#pip install textblob

In [ ]:
df['tweets'] = df['tweets'].astype(str)

In [ ]:
##################### Warning this cell can take up to 20 mins to complete ################### 
# corrects spellings and grammer based on context
# use txtblob to correct the tweet spelling
from textblob import TextBlob
df['tweets_correct?']= df["tweets"].apply(lambda x : str(TextBlob(x).correct()))
# pattern matching is not good

In [ ]:
df = df.sort_values(by='sentiment_1', ascending=False)
df = df.sort_values(by='sentiment_2', ascending=False)