# Twitter did not come back on my Academic research application.
# So I proceeded to work with the Archive analysis from
# https://archive.org/download/archiveteam-twitter-stream-2022-11

In [15]:
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import warnings

In [19]:
# This function loads the json files one at a time and converts them into dataframe
def convert_json_to_dataframe(json_file):
    data = []
    with open(json_file, 'r') as file:
        for line in file:
            try:
                json_data = json.loads(line)
                data.append(json_data)
            except json.JSONDecodeError as e:
                print(f"Error parsing JSON line: {e}")

    df = pd.DataFrame(data)
    return df
# twit_file = '20220901000000.json'
twit_file = "/Users/ambrosedesmond/CCT_Projects/Ambrose_MSC_BD_ADA_CA2/Twitter_Archive_Data/20220901/20220901000000.json"
df = convert_json_to_dataframe(twit_file)

In [24]:
ttdf = df[['created_at','text']]

,created_at,text
0,Wed Aug 31 23:59:53 +0000 2022,@carolynstrom @SKGov @PremierScottMoe Thank yo...
1,Wed Aug 31 23:59:53 +0000 2022,Love is like a sweet flower true love is https...
2,Wed Aug 31 23:59:53 +0000 2022,@luvyxrosie @EllBPink @Roseslify Pero si no ca...
3,Wed Aug 31 23:59:53 +0000 2022,RT @1ne15u: 大人のための地元再発見シリーズ『愛知の教科書』 (JTBパブリッシン...
4,Wed Aug 31 23:59:53 +0000 2022,RT @iamdio__: E foram gastar 75M no Darwin ahah